<!-- /GuildPost/GuildPost/templates/change_password.html -->

<div class="change-password-box">
    <h1>Change Password</h1>
    <p>You have only 3 attempts to recover your password, so be careful.</p>

    <!-- Тонкая линия после поля e-mail -->
    <hr>

    <!-- Password change form -->
    <form id="password-change-form" method="POST"> <!-- Updated id to "password-change-form" for JavaScript handling -->
        {% csrf_token %}

        <input type="hidden" name="username" value="{{ username }}"> <!-- Скрытое поле для username -->

        <label for="new-password">New Password:</label>
        <!-- Input for new password -->
        <input type="password" id="new-password" name="new_password" placeholder="Enter new password" required>
        <label for="confirm-password">Confirm Password:</label>
        <!-- Input for confirming the new password -->
        <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm new password" required>

        <!-- Тонкая линия после поля e-mail -->
        <hr>

        <!-- Submit button for changing the password -->
        <button type="submit">Change Password</button>
    </form>
</div>
