<!-- /GuildPost/GuildPost/templates/recovery_password.html -->

<div class="main-box">
    <!-- Восстановление пароля -->
    <div class="recovery-box">
        <!-- Заголовок -->
        <div style="text-align: center; margin-top: 10px;">
            <h1>Recover Password</h1>
        </div>

        <hr> <!-- Тонкая линия под заголовком -->

        <!-- Описание процедуры восстановления -->
        <p>You have only 3 attempts to recover your password,</p>
        <p>so be careful.</p>
        <p>Enter login and email address you used to register </p>
        <p>and we`ll send you recovery code.</p>
        <hr> <!-- Тонкая линия под описанием -->

        <!-- Ошибки -->
        <div id="recovery-errors" style="color: red;"></div>

        <!-- Форма восстановления пароля -->
        <form id="recovery-request-form" method="POST" action="/password-recovery-request/">
            {% csrf_token %}
            <!-- Поле логина -->
            <div style="text-align: center; margin-top: 10px;">
                <label for="username">Login:</label>
                <input type="text" id="username" name="username" placeholder="Enter your login" required>
            </div>

            <!-- Поле e-mail -->
            <div style="text-align: center; margin-top: 10px;">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <hr> <!-- Тонкая линия -->

            <!-- Кнопка отправки -->
            <div style="text-align: center; margin-top: 10px;">
                <button type="submit">Send Code</button>
            </div>

            <hr> <!-- Тонкая линия -->
        </form>

        <!-- Ссылка "Back to Sign In" -->
        <div style="text-align: center; margin-top: 20px;">
            <a id="back-to-signin" href="#" style="font-size: 1.5rem; color: lightblue;">← Back to Sign In</a>
        </div>
    </div>
</div>
