<!-- /GuildPost/GuildPost/templates/activation_password_reset.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Activation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Контейнер для активации с возможностью сброса пароля -->
    <div class="activation-container">
        <h1>Activate Your Account and Reset Password</h1>
        <p>Hello, {{ user.username }}!</p> <!-- Приветствие -->
        <p>Click the link below to activate your account and reset your password:</p>
        <a href="{{ activation_url }}" class="activation-link">Activate and Reset Password</a> <!-- Ссылка для активации и сброса пароля -->
        <p>If you did not request this email, please ignore it.</p> <!-- Информация -->
    </div>
</body>
</html>
