<!-- /GuildPost/posts/templates/posts/article_list.html -->

{% load static %}
{% load article_filters %}  <!-- Загружаем кастомные фильтры -->

<!-- Заголовок категории, если выбрана категория -->
{% if selected_category %}
    <h2 class="category-title">Статьи в категории "{{ selected_category.name }}"</h2>
{% endif %}

<div class="articles-container">
    {% for article in articles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">

    <div class="article">
        <!-- Аватар автора -->
        <!-- Шапка статьи -->
        <div class="article-header">
            <div class="author-avatar">
                {% if article.author.profile.avatar %}
                    <img src="{{ article.author.profile.avatar.url }}" alt="Avatar">
                {% else %}
                    <img src="{% static 'pictures/avatar.webp' %}" alt="Default Avatar">
                {% endif %}
            </div>
            <div class="author-info">
                <p class="author-name">{{ article.author.first_name }} {{ article.author.last_name }}</p>
                <p class="category">{{ article.category.name }}</p>
            </div>
            <button class="btn-follow">Подписаться</button>
        </div>

        <!-- Заголовок и текст -->
        <div class="article-content">
            <!-- Заголовок статьи -->
            <h3 class="article-title load-article clickable" data-article-id="{{ article.id }}">{{ article.title }}</h3>

            <!-- Первое предложение контента -->
            <p class="article-preview load-article clickable" data-article-id="{{ article.id }}">
                {{ article.content|truncate_html_words:20|safe }}
            </p>

            <!-- Медиафайл: изображение или видео -->
            <div class="media-container load-article clickable" data-article-id="{{ article.id }}">
                {{ article.content|extract_first_media|safe }}
            </div>

        </div>

        <!-- Лайки, комментарии, просмотры -->
        <div class="article-footer">
            <button class="btn-like">👍 {{ article.likes_count }}</button>
            <button class="btn-comment">💬 {{ article.comments.count }}</button>
            <button class="btn-views">👁️ {{ article.views_count }}</button>
        </div>
    </div>
    {% endfor %}
</div>
